<%= render partial: "shared/errors", locals: { object: prompt } %>
<%= form_for prompt do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <!-- CHECK -- look at prompt create route-->
  <div class="row">
    <div class="col-6">  
      <%= f.label :character_id, "Character" %><br>
      <%= collection_select(:prompt, :character_id, @characters, :id, :name) %><br>
      <a data-toggle="collapse" href="#collapseNewCharacter" role="button" aria-expanded="false" aria-controls="collapseNewCharacter">
        <small><span class="add-new-button">(Create New)</span></small>
      </a><br>
      <br>
      <%= f.label :goal_id, "Goal" %><br>
      <%= collection_select(:prompt, :goal_id, @goals, :id, :description) %><br>
      <br>
      <%= f.label :motivation_id, "Quest" %><br>
      <%= collection_select(:prompt, :motivation_id, @motivations, :id, :description) %><br>
      <br>
      <%= f.label :tactic_id, "Tactic" %><br>
      <%= collection_select(:prompt, :tactic_id, @tactics, :id, :description) %><br>
      <br>
      <%= f.label :notes, "Notes" %><br>
      <%= f.text_area :notes %><br>
      <br>
      <%= f.label :url, "URL" %><br>
      <%= f.text_field :url %><br>
      <br>
      <%= f.label :shared, "Share?" %>
      <%= f.check_box :shared, {}, "true", "false" %><br>
    </div>
    <div class="col-6">
      <div class="collapse" id="collapseNewCharacter">
        <h5>Create a new character for this prompt:</h5>
        <%= f.fields_for :character, Character.new do |character_attr|%>
          <%= character_attr.hidden_field :user_id, value: current_user.id %>
          <!-- CHECK - Same as above -->
          <%= character_attr.label :name, "Name:" %><br>
          <%= character_attr.text_field :name %><br>
          <%= character_attr.label :species, "Species" %><br>
          <%= character_attr.text_field :species %><br>
          <%= character_attr.label :race, "Race" %><br>
          <%= character_attr.text_field :race %><br>
          <%= character_attr.label :age, "Age" %><br>
          <%= character_attr.number_field :age %><br>
          <%= character_attr.label :average_lifespan, "Average Lifespan" %><br>
          <%= character_attr.number_field :average_lifespan %><br>
          <%= character_attr.label :physical_description, "Physical Description" %><br>
          <%= character_attr.text_area :physical_description %><br>
          <%= character_attr.label :notes, "Notes" %><br>
          <%= character_attr.text_area :notes %><br>
          <%= character_attr.label :shared, "Share?" %>
          <%= character_attr.check_box :shared, {}, "true", "false" %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <%= f.submit %>
<% end %>




<script type="text/javascript">
$(".add-new-button").click(function() {
  $("#prompt_character_id").toggleClass("disabled");
  $(this).text($(this).text() == '(Create New)' ? '(Revert)' : '(Create New)');
});
</script>