<h1><%= @character.name %></h1>
<label>Species</label>
<p><%= @character.species %></p>
<label>Race</label>
<p><%= @character.race %></p>
<label>Age</label>
<p><%= @character.age %></p>
<label>Average Lifespan</label>
<p><%= @character.average_lifespan %></p>
<label>Physical Description</label>
<p><%= @character.physical_description %></p>
<label>Notes</label>
<p><%= @character.notes %></p>
<% if current_user.id == @character.user_id %>
  <label>Shared?</label>
  <p><%= @character.shared ? "Yes" : "No" %></p>
  <hr>
  <% if @used %>
    <%= link_to "See Prompts Featuring #{@character.name}", character_prompts_path(@character.id) %> | 
  <% end %>
  <%= link_to "Add to New Prompt", new_character_prompt_path(@character) %> | 
  <%= link_to "Edit", edit_character_path(@character) %> | 
  <%= link_to "Delete", character_path(@character), method: :delete %>
<% end %>