<h1><%= @character.name %></h1>
<label>Species</label>
<p><%= @character.species %></p>
<label>Race</label>
<p><%= @character.race %></p>
<label>Age</label>
<p><%= @character.age %></p>
<label>Average Lifespan</label>
<p><%= @character.average_lifespan %></p>
<label>Physical Description</label>
<p><%= @character.physical_description %></p>
<label>Notes</label>
<p><%= @character.notes %></p>
<label>Shared?</label>
<p><%= @character.shared ? "Yes" : "No" %></p>