<!DOCTYPE html>
<html>
  <head>
    <title>promp_</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light">
      <a class="navbar-brand" href="/">
        <%= image_tag("logo.gif", class: "menu_icon") %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Characters", characters_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Tactics", tactics_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Goals", goals_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Quests", motivations_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add New
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Character", new_character_path, class: "nav-link" %>
                <%= link_to "Tactic", new_tactic_path, class: "nav-link" %>
                <%= link_to "Goal", new_goal_path, class: "nav-link" %>
                <%= link_to "Quest", new_motivation_path, class: "nav-link" %>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to "Prompts", prompts_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Generate Prompt", new_prompt_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
